.content-right .content {
  padding: 0 25px 0 20px;
  box-sizing: border-box; }
  .content-right .content .title {
    width: 100%;
    height: 75px;
    line-height: 75px; }
    .content-right .content .title h3 {
      font-size: 22px;
      color: #73879c;
      display: inline;
      font-weight: 100; }
    .content-right .content .title input {
      font-size: 14px;
      color: #b29999;
      float: right;
      margin-top: 22px;
      width: 25%;
      height: 30px;
      border-radius: 14px;
      background: #fff;
      border: 1px solid #f1f1f1;
      text-indent: 15px;
      outline: none; }
  .content-right .content .content-cer {
    width: 100%;
    background: #fff;
    padding: 0 17px 30px;
    box-sizing: border-box; }
    .content-right .content .content-cer .content-cer-tit {
      width: 100%;
      height: 48px;
      line-height: 48px;
      border-bottom: 2px solid #e6e9ed; }
      .content-right .content .content-cer .content-cer-tit h3 {
        font-size: 18px;
        color: #73879c;
        display: inline;
        font-weight: 100; }
      .content-right .content .content-cer .content-cer-tit .imgs {
        float: right; }
        .content-right .content .content-cer .content-cer-tit .imgs img {
          width: 16px;
          height: 14px;
          margin-right: 10px; }
    .content-right .content .content-cer .container-box {
      width: 100%;
      overflow: hidden; }
      .content-right .content .content-cer .container-box .content-img {
        float: left;
        width: 55%;
        padding: 16px 18px 0;
        box-sizing: border-box; }
        .content-right .content .content-cer .container-box .content-img img {
          width: 100%;
          height: 100%; }
        .content-right .content .content-cer .container-box .content-img .uls {
          width: 100%; }
          .content-right .content .content-cer .container-box .content-img .uls li {
            float: left;
            width: 22%;
            height: 98px;
            margin-right: 3%;
            box-sizing: border-box;
            border: 1px solid #e5e5e5; }
            .content-right .content .content-cer .container-box .content-img .uls li img {
              width: 100%; }
      .content-right .content .content-cer .container-box .content-des {
        width: 45%;
        float: left;
        padding: 46px 12px 42px 30px;
        box-sizing: border-box; }
        .content-right .content .content-cer .container-box .content-des .p-tit {
          width: 100%;
          font-size: 18px;
          color: #73879c;
          border-bottom: 1px solid #dfdfdf; }
        .content-right .content .content-cer .container-box .content-des .p-con {
          width: 100%;
          padding: 34px 0 44px;
          font-size: 13px;
          color: #73879c; }
        .content-right .content .content-cer .container-box .content-des h3 {
          font-size: 16px;
          color: #73879c; }
        .content-right .content .content-cer .container-box .content-des .colors {
          margin-top: 18px;
          overflow: hidden; }
          .content-right .content .content-cer .container-box .content-des .colors li {
            float: left;
            margin-right: 32px; }
            .content-right .content .content-cer .container-box .content-des .colors li p {
              font-size: 14px;
              color: #8487a8; }
            .content-right .content .content-cer .container-box .content-des .colors li span {
              display: block;
              width: 25px;
              height: 25px;
              border-radius: 50%;
              margin-top: 5px;
              margin-bottom: 40px;
              border: 1px solid gray; }
            .content-right .content .content-cer .container-box .content-des .colors li .span1 {
              background: #1abb9c; }
            .content-right .content .content-cer .container-box .content-des .colors li .span2 {
              background: #3498db; }
            .content-right .content .content-cer .container-box .content-des .colors li .span3 {
              background: #e74c3c; }
            .content-right .content .content-cer .container-box .content-des .colors li .span4 {
              background: #f39c12; }
          .content-right .content .content-cer .container-box .content-des .colors li:first-child {
            margin-left: 10px; }
        .content-right .content .content-cer .container-box .content-des h4 {
          font-size: 17px;
          color: #73879c;
          font-weight: 100; }
          .content-right .content .content-cer .container-box .content-des h4 span {
            font-size: 13px;
            color: #88779d; }
        .content-right .content .content-cer .container-box .content-des .size {
          overflow: hidden;
          margin: 14px 0 54px; }
          .content-right .content .content-cer .container-box .content-des .size li {
            float: left;
            padding: 3px 5px;
            text-align: center;
            border-radius: 2px;
            font-size: 12px;
            color: #593359;
            border: 1px solid #cccccc;
            margin-right: 9px; }
        .content-right .content .content-cer .container-box .content-des .ksh {
          width: 100%;
          padding: 12px;
          box-sizing: border-box;
          border: 1px dashed #e0e0e0; }
          .content-right .content .content-cer .container-box .content-des .ksh .p1 {
            font-size: 36px;
            color: #1abb9c; }
          .content-right .content .content-cer .container-box .content-des .ksh .p2 {
            font-size: 18px;
            color: #73879c; }
        .content-right .content .content-cer .container-box .content-des .add {
          border: 1px solid #cccccc;
          padding: 14px 16px;
          font-size: 17px;
          color: #333333;
          float: left;
          margin: 20px 9px 27px 0;
          border-radius: 3px; }
        .content-right .content .content-cer .container-box .content-des .biao {
          overflow: hidden;
          float: left; }
          .content-right .content .content-cer .container-box .content-des .biao li {
            float: left; }
            .content-right .content .content-cer .container-box .content-des .biao li a img {
              width: 32px;
              height: 32px;
              margin-right: 13px; }

@media screen and (max-width: 990px) {
  .bigbox .content-left {
    display: none; }
  .bigbox .content-right {
    width: 100% !important; } }
